{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body style="
        {#border-style: dotted;#}
             margin: 0;
                    color: #0b0c66;

             {#padding: 0;#}
             {#box-sizing: border-box;#}
">
{#<h1>My first{{ title }} template </h1>#}
<img style="width: 200px;
            height: 100px;
           "
     src="{% static "/pdf/assets/PNG/OZAS-1.png" %}" alt="Image"/>
<h1>
    MAQULLASH TO'G'RISIDA GUVOHNOMA
</h1>


<div style="display: flex;"            >
    Ushbu hujjat

</div>

<h3>
    GOOOD
</h3>
<h4>GOOOD</h4>
<h4>GOOOD</h4>
<h4>GOOOD</h4>
<h4>GOOOD</h4>


<h5>
    Reestrida ro'yxat raqami O'ZAK.10.0001
</h5>
<h5>Maqullashdan o'tagan sana: 24.05.2019 yil</h5>
<h5>Guvohnoma rasmiylashtirilgan sana: 24.05.2019 yil</h5>
<h5>Amal qilish muddati: 24.05.2019 yil</h5>


<h3>A.ZAKIROV</h3>
<h5>
    Maqullash  to'g'risida guvohnomaning amaldagi holati amaldagi holati haqidagi ma'lumot "Akkreditasiya markazazi" DUK rasmiy veb-saytida (www.akkred.uz)
    keltirilgan
</h5>
</body>
</html>